.hidden{
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

/* common */

.container{
     max-width: 320px;
 padding-left: 16px;
 padding-right: 16px;
 margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* #region header */

.header {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-header, address{
    display: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.logo-text-span {
    color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px){
.burger-btn {
       display: none;
    }

 .nav-list-header {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 40px;
    
        }

 .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
     gap: 40px;
     }
.logo-header {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 24px 0;
margin-right: 120px;

}

.item-nav-link-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-nav-link {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-nav-link-one:hover,
.item-nav-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}
 .address {
     font-style: normal;
     display: block;
 }
 .address-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     gap: 12px;
 }
 .address-link {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #434455;
    display: block;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .address-link:hover,
 .address-link:focus {
     color: #404bbf;
 }
}

@media screen and (min-width:1158px) {
    .logo-header {
            
            margin-right: 76px;
    
        }
.address-container {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
}

/* #endregion header */

/* #region mobile menu */

.mobile-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus, .mobile-menu-close:hover{
    background-color: #404bbf;
}

.svg-mobile-menu-btn{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mobile-menu-btn:focus, .svg-mobile-menu-btn:hover{
    fill: #f4f4fd;
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.mobile-menu-nav-link-ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link-one{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.mobile-menu-nav-link{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-address{
    display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
}

.mobile-adress-menu-li{
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.mobile-adress-menu-li-tel, .mobile-adress-menu-li:focus, .mobile-adress-menu-li:hover{
    color: #4d5ae5;
}

.mobile-menu-social-div{
    margin-top: 48px;
}

.mobile-menu-social-ul{
    display: flex;
    gap: 40px;
}

.mobile-menu-social-a{
    background-color: #404BBF;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-mobile-social{
    fill: #f4f4fd;
}

.svg-mobile-social:focus, .svg-mobile-social:hover{
    background-color: #31D0AA;
}

@media screen and (min-width:768px) {
    .mobile-menu{
        display: none;
        bottom: none;
    }
}

/* #endregion mobile menu */

/*#region hero*/
.hero {
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 96px;
    max-width: 320px;
        background-color: rgba(46, 47, 66, 0.7);
        text-align: center;
        margin: 0 auto;
        padding: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/people-office1.jpg) 1x,
                url(../images/people-office1.jpg) 2x);
    
   }
    

.hero-title {
    margin-bottom: 48px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
    padding: 188px 0;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion hero*/