.hidden{
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

/* common */

.container{
     max-width: 320px;
 padding-left: 16px;
 padding-right: 16px;
 margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* #region header */

.header {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-header, address{
    display: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.logo-text-span {
    color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px){
.burger-btn {
       display: none;
    }

 .nav-list-header {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 40px;
    
        }

 .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
     gap: 40px;
     }
.logo-header {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 24px 0;
margin-right: 120px;

}

.item-nav-link-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-nav-link {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-nav-link-one:hover,
.item-nav-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}
 .address {
     font-style: normal;
     display: block;
 }
 .address-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     gap: 12px;
 }
 .address-link {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #434455;
    display: block;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .address-link:hover,
 .address-link:focus {
     color: #404bbf;
 }
}

@media screen and (min-width:1158px) {
    .logo-header {
            
            margin-right: 76px;
    
        }
.address-container {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
}

/* #endregion header */

/* #region mobile menu */

.mobile-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    line-height: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus, .mobile-menu-close:hover{
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.svg-mobile-menu-btn{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mobile-menu-btn:focus, .svg-mobile-menu-btn:hover{
    fill: #f4f4fd;
}

.mobile-menu-nav{
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.mobile-menu-nav-link-one, .mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
        color: #404bbf;
}

.mobile-menu-nav-link{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
}

.mobile-menu-address{
    display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
}

   .mobile-menu-address-link{
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}

.mobile-menu-address-link.current,
.mobile-menu-address-link:focus,
.mobile-menu-address-link:hover {
    color: #4d5ae5;
}

.mobile-menu-social-div{
    margin-top: 48px;
}

.mobile-menu-social-ul{
    display: flex;
    gap: 40px;
}

.mobile-menu-social-a{
    background-color: #404BBF;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-mobile-social{
    fill: #f4f4fd;
}

.svg-mobile-social:focus, .svg-mobile-social:hover{
    background-color: #31D0AA;
}

@media screen and (min-width:768px) {
    .mobile-menu{
        display: none;
        bottom: none;
    }
}

/* #endregion mobile menu */

/*#region hero*/
.hero {
    max-width: 320px;
        background-color: rgba(46, 47, 66, 0.7);
        text-align: center;
        margin: 0 auto;
        padding: 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            image-set(url(../images/hero/background-mobile.jpg) 1x, url(../images/hero/background-mobile-@2x.jpg) 2x);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 96px;
   }
    
.hero-title {
text-align: justify;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    }

.hero-btn {
    min-width: 169px;
        display: block;
        height: 56px;
        margin: auto;
        margin-top: 48px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
    padding: 72px 0;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .hero{
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7 ), rgba(46, 47, 66, 0.7)),
        image-set(url(../images/hero/background-tab.jpg) 1x, url(../images/hero/background-tab-@2x.jpg) 2x);
    }
.hero-title{
    font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
}
}

@media screen and (min-width:1158px) {
    .hero{
        background-color: #2e2f42;
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;
            margin: 0 auto;
        margin-bottom: 120px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                image-set(url(../images/hero/background-pc.jpg) 1x, url(../images/hero/background-pc-@2x.jpg) 2x);
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
            }

.hero-title{
    text-align: justify;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
}
/*#endregion hero*/

/*#region description*/

.dscr {
    margin-bottom: 96px;
}

.dscr-list{
    display: flex;
        flex-wrap: wrap;
        gap: 72px
}

.dscr-box{
    display: none;
}

.dscr-list-item{
    display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 0;
            margin: 0;
}

.dscr-item-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.dscr-item-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

@media screen and (min-width:768px){
    .dscr-list{
        flex-direction: row;
            row-gap: 72px;
            column-gap: 24px;
    }
    .dscr-list-item{
        width: calc((100% - 24px) / 2);
    }
    .dscr-item-title{
        text-align: left;
    }
}

@media screen and (min-width:1158px){

    .dscr{
        margin-bottom: 120px;
    }
    
    .dscr-list{
        flex-wrap: nowrap;
        gap: 24px;
    }

    .dscr-list-item{
        width: calc((100% - 24px) / 4);
    }
    .dscr-box{
        display: block;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            background: #f4f4fd;
            padding: 24px 100px;
    }
    .dscr-item-title{
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
    }
    .dscr-item-text{
        font-weight: 400;
    }
}

/*#endregion description*/

/*#region team*/
.team{
    padding: 96px 0;
        background-color: #f4f4fd;
        text-align: center;
        background: #f4f4fd;
        margin-bottom: 96px;
}

.team-container{
    padding: 0 28px;
}

.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list{
    display: flex;
        flex-direction: column;
        gap: 72px;
}

.team-list-item{
    border-radius: 0 0 4px 4px;
        padding-bottom: 32px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-picture{
    display: block;
        margin-bottom: 32px;
}

.container-team-info{
    display: flex;
        flex-direction: column;
        gap: 8px;
}

.team-list-icon{
    display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
}

   .icon-links {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 24px;
       margin-top: 8px;
       background-color: #4d5ae5;
       border-radius: 50%;
       width: 40px;
       height: 40px;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       width: 100%;
       height: 100%;
   }

   .social-icon {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 40px;
       height: 40px;
   }

   .icon-svg {
       fill: #f4f4fd;
   }

   .icon-links:hover,
   .icon-links:focus {
       background-color: #404bbf;
   }

@media screen and (min-width:768px){
.team-container{
    padding: 0 92px;
}
.team-list{
    flex-direction: row;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
}
.team-list-icon{
    width: calc((100% -24px) / 2);
}
}

@media screen and (min-width:1158px){
.team-container {
        padding: 0 15px;
    }

    .team-list {
       gap: 24px;
       flex-wrap: nowrap;
    }
   
    }

/*#endregion team*/

/*#region portfolio*/
.portfolio{
margin-bottom: 96px;
}

.overlay{
    position: absolute;
        background-color: #4d5ae5;
        color: #f4f4fd;
        padding: 40px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title{
    text-align: center;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-list-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portfolio{
    padding: 32px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
}

.portfolio-title-two{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

@media screen and (min-width:768px){

    .portfolio-list{
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio-list-item{
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px){

.portfolio-list{
    row-gap: 48px;
}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
}

.portfolio-list-item:hover, .portfolio-list-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portf-box{
    position: relative;
    overflow: hidden;
}

.portf-box:hover, .overlay, .portf-box:focus .overlay{
transform: translateY(0%);
}

.overlay{
    display: flex;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #4d5ae5;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
/*#endregion portfolio*/

/*#region footer*/
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-logo-text{
    text-align: center;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-icon-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.footer-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-ic-img {
    fill: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.footer-icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 96px;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form-div {
    margin-top: 72px;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    margin-right: 24px;
    padding-left: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
    border: 1px solid #31d0aa;
}

.btn-footer-form {
display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    transition: background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer-form:hover,
.btn-footer-form:focus {
    background-color: #31d0aa;
}

.btn-footer-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 584px;
    }

    .footer-icon {
        margin-top: 0;
    }

    .footer-form-div {
        margin-top: 0;
    }

    .footer-logo-text {
        min-width: 264px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-text {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        gap: 0;
        flex-wrap: nowrap;
        width: 1158px;
    }

    .footer-logo-text {
        text-align: start;
        margin-right: 120px;
    }

    .footer-icon {
        margin-right: 80px;
    }
}
/*#endregion footer*/

/*#region backdrop*/

.backdrop{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 9999;
}

.backdrop.is-open{
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal{
    padding: 72px 16px 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        width: 288px;
        min-height: 623px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn{
    display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        line-height: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        fill: #2e2f42;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus{
border: none;
    border-radius: 100%;
    background-color: #404bbf;
    fill: #ffffff;
}

.modal-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        max-width: 360px;
        margin-bottom: 16px;
}

.modal-container-block{
margin-bottom: 8px;
}

.modal-form-input-cont{
position: relative;
}

.modal-form-icon{
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon{
    fill: #4d5ae5;
}

.modal-form-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover, .modal-form-input:focus{
    border: 1px solid #4d5ae5;
}

.custom-checkbox{
border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
 
.label-checkbox{
    cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.label-checkbox a{
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.checkbox:checked +.label-checkbox .custom-checkbox{
    background-color: #404bbf;
        border-radius: 2px;
        fill: #f4f4fd;
        border: none;
}

.modal-form-con-checkbox{
    margin-bottom: 24px;
}

.cont-user-text{
    margin-bottom: 16px;
}

.send-btn{
    display: block;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover, .send-btn:focus{
    background-color: #404bbf ;
}

.user-comment{
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment::placeholder{
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.user-comment:hover, .user-comment:focus{
    border: 1px solid #4d5ae5;
}

.svg-checkbox{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
    .modal{
        width: 408px;
            min-height: 584px;
    }
}

/*#endregion backdrop*/